@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<img src="~/images/dinobanner3.png" alt="Dino-Diner Banner" height="200" width="475"/>

<h1>Welcome to the Dino-Diner website!</h1>

<h3><a asp-page="Menu">Go to the Menu page</a></h3>
<h3><a asp-page="Privacy">Go to the Privacy page</a></h3>
<h3><a asp-page="About">Go to the About page</a></h3>
