/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#container {
	display: flex;
	flex-direction: row;
}

form {
	background-color: lightgray;
	padding: 20px;
}

.checkbox-list {
	display: flex;
	flex-direction: column;
}

.price-constraints {
	display: flex;
	flex-direction: column;
}

.ingredients-list {
	display: flex;
	flex-direction: column;
}

